@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
  color: #fab005;
}

input, button {
  font-family: 'Poppins', sans-serif;
}
